.footer {
    background: #d4d4d4;
    @include pos-fixed();
    bottom: 0px;
    top: inherit;
    text-align: center;
    padding: 10px 0;

    p {
        padding: 0px;
        margin: 0px;
    }
}