.clr {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}

.defaultMarginLeft {
    margin-left: 0%;
}

.defaultMarginRight {
    margin-right: 0%;
}

div.sub_container_left_box{
    width:50%;
    border: solid 1px #000;
    padding: 10px;
    margin-left: 10px;
    margin-top:10px;
    font-size: 8px;
}

div.sub_container_right_box {
    border: solid 1px #000;
    padding: 20px;
    height: 600px;
    overflow: auto;
    margin-left: 10px;
    margin-top: 10px;
    width:48%;
}

div.sub_container_left_box button {
    color:white;
    background-color: red;
    width: 100px;
    height: 30px;
    border: solid;
    border-width: 1px;
    font-size: 15px;
}

div.product_manage_margin {
    margin-left: 23%;
}

.add_product_fn {
    width:85px;
    float:left;
    margin-left: 10%
}
.add_product_fv {
    width:50%;
    float:left;
}
div a {
    font-size: 14px;
}

/*****************Quick Filter************************************************/

div.prod_list_category {
    font-weight: bold;
    font-size:18px;
    width:100%;
}
div.prod_list_name_amt_wrapper {
    width:100%;
}
div.prod_list_name {
    padding-left: 6px;
    font-size:14px;
    text-align: justify;
}

div.prod_list_amt {
    padding-left: 6px;
    font-size:16px;
    color: lightgray;
}

div.prod_list_item_del {
    padding-left: 6px;
    font-size:14px;
}

div.prod_list_item_del a{
    color:red;
}

/**************************************File Upload*************************/
h3 {
  margin-left: 15px;
}
.fileInput {
  border-bottom: 4px solid #d3d3d3;
  border-right: 4px solid #d3d3d3;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
}
.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.previewComponent .submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}

/**************************Category***********************************/
