html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #f1f2f4;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

ul, li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    color: #337ab7;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

::-webkit-scrollbar-track
{
	background-color: #E6E6E6;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb
{
	background-color: #a2a2a2;
}