.addProductMain {
    width: 40%;
    background: #fff;
    padding: 15px;
    margin-top: 55px;

    label {
        padding: 5px 0;
        display: block;
        color: #999;
        font-weight: 900;
    }
    input[type="text"] {
        
    }
}