.addProductListMain {
    background: #fff;
    padding: 15px;
    margin-top: 55px;
    min-height: 500px;
    overflow: auto;

    label {
        padding: 5px 0;
        display: block;
        color: #999;
        font-weight: 900;
        clear: left;
    }

    ul {
        overflow: hidden;
        border-bottom: #ccc solid 1px;
        width: 100%;

        li {
            float: left;
            padding: 10px;
        }
    }

    .search input[type="text"] {
        width: 97%;
    }

    .productManageList {
        max-height: 500px;
        overflow-y: auto;
    }

    .processing {
        margin-left: 50%;
        margin-top: 16%
    }
}